body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

img {
    width: 90vw;
    height: auto;
    max-height: 70vh;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    width: 80vw;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}
