<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <img id="question-image" src="{{ image_url }}" alt="Question Image"><br>
    <form action="/submit_answer" method="POST">
        <input type="hidden" name="page_number" value="{{ page_number }}">
        <label for="answer">Answer:</label>
        <input type="text" id="answer" name="answer"><br>
        <button type="submit">Next</button>
    </form>
    
</body>
</html>
